<div class="feed_block">
    <div class="feed_header">      
      <h4 class="card-title"><a class="black-text" href="/feed/{{feed.slug}}">{{feed.name}}</a></h4>            
    </div>
    <div class="feed_articles slider">
      {% for article in feed.article_set.all|slice:":9"|dictsortreversed:"date_published" %}
        <div class="slider-element">
          {% include "includes/article_card.html" %}
        </div>
      {% endfor %}
    </div>
    <a href="/feeds/{{feed.slug}}" class="btn green">{{feed.name}}</a>
  </div>