{% extends 'base.html' %}
{% block content %}
<h2>{{topic.name}}</h2>
{% include 'includes/add_to_topics.html' %}
<br>
<button onclick="showThreadSelectionPopup('{{ topic.id }}', '{{ topic.name }}')">Add to my thread</button>

<div id="threadSelectionPopup" style="display: none;">
    <ul id="threadList">
      <!-- Thread list items will be dynamically added here -->
    </ul>
  </div>
  
<p>{{topic.description}}</p>



<div id="articles_holder">

</div>
<button id="load_more_button" data-page-id="1" data-slug="topic_requests/{{topic.slug}}">Load More</button>
{% load static %}
<script src="{% static 'js/articles_load.js' %}"></script>




{% endblock %}


