{% extends 'base.html' %}
{% block content %}
<h2>{{topic.name}}</h2>
<p>{{topic.description}}</p>

<form method="POST" action="{% url 'main:add_remove_topic' %}">
    {% csrf_token %}
    <input type="hidden" name="topic_id" value="{{ topic.id }}">
    {% if is_user_topic %}
        <button type="submit" name="action" value="remove">Remove from My Topics</button>
    {% else %}
        <button type="submit" name="action" value="add">Add to My Topics</button>
    {% endif %}
</form>


<div id="articles_holder">

</div>
<button id="load_more_button" data-page-id="1" data-slug="topic_requests/{{topic.slug}}">Load More</button>
{% load static %}
<script src="{% static 'js/articles_load.js' %}"></script>




{% endblock %}


