{% extends 'base.html' %}

{% block content %}
  <h1>Profile</h1>
  <form method="post">
    {% csrf_token %}
    <h2>Select your preferred topics:</h2>
    
    {% for topic in topics %}
      <div style="padding:10px;">
        <p>
          <label>
            <input type="checkbox" name="topics" value="{{topic.id}}" {% if topic.id in selected_topics %}checked="checked"{% endif %} />
            <span>{{topic.name}}</span>
          </label>
        </p>                
      </div>
      
    {% endfor %}
    <h4><a href="{% url 'main:add_topic'%}">Add Topic</a></h4>
    <h2>Select preferred Feeds:</h2>
    {% for feed in feeds %}
      <div>
        <p>
          <label>
            <input type="checkbox" name="feeds" value="{{ feed.id }}"
          {% if feed.id in selected_feeds %}checked{% endif %}>
            <span>{{feed.name}}</span>
          </label>
        </p>              
      </div>      
    {% endfor %}
    <h4><a href="{% url 'main:add_feed' %}">Add feed</a></h4>
    <button type="submit">Save</button>
  </form>
{% endblock %}
