{% extends 'base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <h4>Select your preferred topics:</h4>
    
    {% for topic in topics %}
      <div style="padding:10px;">
        <p>
          <label>
            <input type="checkbox" name="topics" value="{{topic.id}}" {% if topic.id in selected_topics %}checked="checked"{% endif %} />
            <span>{{topic.name}}</span>
          </label>
        </p>                
      </div>
      
    {% endfor %}
    <a class="waves-effect waves-light btn" href="{% url 'main:add_topic'%}">Add Topic</a>
    <h4>Select preferred Feeds:</h4>
    {% for feed in feeds %}
      <div>
        <p>
          <label>
            <input type="checkbox" name="feeds" value="{{ feed.id }}"
          {% if feed.id in selected_feeds %}checked{% endif %}>
            <span>{{feed.name}}</span>
          </label>
        </p>              
      </div>      
    {% endfor %}
    <a class="waves-effect waves-light btn" href="{% url 'main:add_feed' %}">Add feed</a>
    <br>
    <br>
    <h4>Threads by you:</h4>
    {% for thread in user_threads %}
      <div>
        <p>
          <label>            
            <span>{{thread.name}}</span>
          </label>
        </p>              
      </div>      
    {% endfor %}
    <a class="waves-effect waves-light btn" href="{% url 'main:add_thread'%}">Add Thread</a>
    <br>
    <button type="submit">Save</button>
  </form>
{% endblock %}
